body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  margin: 0; 
  background-color: lightblue; 
}

main {
  display: flex;
  justify-content: center;
  align-items: flex-end; 
  gap: 100px; 
  height: 300px; 
  position: relative;
}

.icon-container {
  position: absolute;
  bottom: 0; 
}
.leaf {
  position: absolute;
  top: -50px; 
  width: 30px; 
  opacity: 0; 
}

.leaf1 {
  left: 10%;
}

.leaf2 {
  left: 80%;
}

.tree svg {
stroke: darkgreen;
  transform: scale(4);
  position: relative;
  top: 10px; 
left: -350%;
}

.snail svg {
stroke: brown;
fill: lightpink;
  transform: scale(1.3);
  position: relative;
  top: 140px; 
left: 0%;
}

.flower svg {
fill: lightyellow; 
  transform: scale(1.5);
  position: relative;
  top: 120px; 
left: 300%;
}

.leaf svg {
  stroke: darkgreen;
  fill: lightgreen;
scale: .5;
}

svg {
  width: 100px;
  height: auto;
}
